/* <!DOCTYPE html> */
/* <html> */
 
body
{
    margin-top:10%;
    margin-left :15%;
    padding:40px;
    text-align: center;
    background-color:black;
    color:red;
    font-family:open sans-serif;
    font-size: 150px;

}
