/*  */
form{
    border-radius: round;
    margin: left;
    text-align: left;
    /* width: 1000px; */
    /* height: 100%; */
    margin: left;
    background-color: white;
    align-content: left;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.email
{
    height: 50px;
  width: 500px;
  background-color:white;
}
.name{
    height: 50px;
    width: 300px;
}
.last
{
    height: 50px;
    width: 300px;
}
.feedback
{
    height: 200px;
    width: 800px;
}